body {
  font-size: 18px;
}
p {
 text-align:justify 
}
ul.list-unstyled li img {
  width: 40px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a:visited {
   color: purple;
}

ul.footer {
  font-size: 22px;
}
.table-image {
  float: right;
  table-layout: fixed;
}
.table-image tr td:last-child {
  white-space: nowrap;
  display: inline-block;
  width: 20px;
  transform:
    rotate(90deg)
    translate(-10px, -25px);
}
